In [1]:
34

34

In [2]:
3 * 4

12

In [3]:
2 ** 3

8

In [4]:
newVariable = 3 * 4
word1 = 348
newVariable

12

In [13]:
newNumberFloat = 4.5234
anotherNumber = -343.23934
fraction = 10/11
print(anotherNumber)
newNumberFloat

-343.23934

4.5234

In [6]:
newVar_text = 'Hello World'
newVar_text

'Hello World'

In [7]:
## Search 'How to iterate a list' - stackoverflow.com
newCode = 343 * 4354
newCode

1493422

In [11]:
newMath = 5 * (4 + 10/11) - (5 + 13/15) + (2 ** (6 * 1/3)) - 11/12
newMath

21.76212121212121